/* BILLING DETAILS */
/* HEAD */
.billing-details .billing-details-head a:not(:last-child)::after {
  position: absolute;
  content: '/';
  right: -20px;
  top: 0;
}

/* ORDER PRICING */
.order-pricing .order-subtotal::after,
.order-pricing .order-shipping::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -15px;
  right: 0;
  height: 1px;
  background-color: rgb(180, 180, 180);
}