*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100svh;
  line-height: 1.5;
}

body, h1, h2, h3, h4, h5, p, figure, blockquote {
  margin: 0;
}

ul, ol {
  list-style: none;
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

/* UTILITY CLASS */
.container {
  --max-width: 1280px;
  --padding: 1rem;

  max-width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.h-transition {
  transition: all .3s ease;
}

/* HEADER */
#header-wrapper > p > button, .large-screen button, .small-size button {
}

.large-screen:hover > ul {
  display: flex;
}

.large-screen > ul {
  display: none;
  opacity: .7;
}

.small-active {
  left: 101%;
  right: 0;
  transition: all .5s linear;
}

.small-active.active {
  left: 50%;
}

/* HERO SECITOn */
.hero-header-nav ul li{
  position: relative;
}

.hero-header-nav ul li::after{
  position: absolute;
  content: '';
  bottom: -1;
  left: 0;
  width: 100%;
  transform: scale(0);
  height: 2px;
  background: rgb(168, 168, 168);
  transition: all .2s linear;
}

.hero-header-nav ul li:hover::after{ 
  /* width: 100%; */
  transform: scale(1);
  transform-origin: center;
}

@media (max-width: 400px) {
  .header-search .search-bar input::placeholder{
    font-size: .8rem;
  }
}