@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --red: #DB4444;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100svh;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

body, h1, h2, h3, h4, h5, p, figure, blockquote {
  margin: 0;
  letter-spacing: .025em;
}

ul, ol {
  list-style: none;
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

/* UTILITY CLASS */
.container {
  --max-width: 1280px;
  --padding: 1rem;

  max-width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.h-transition {
  transition: all .3s ease;
}

/* HEADER */
#header-wrapper > p > button, .large-screen button, .small-size button {
}

.large-screen:hover > ul {
  display: flex;
}

.large-screen > ul {
  display: none;
  opacity: .7;
}

.small-active {
  left: 101%;
  right: 0;
  transition: all .5s linear;
}

.small-active.active {
  left: 50%;
}

/* HERO SECTION */
/* HERO HEADER */
#hero-header {
  position: relative;
}

#hero-header::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background: black;
}

@media (max-width: 768px) {
  #hero-header::after {
    bottom: -10px;
  }
}

.hero-header-nav ul li{
  position: relative;
}

.hero-header-nav ul li::after{
  position: absolute;
  content: '';
  bottom: -1;
  left: 0;
  width: 100%;
  transform: scale(0);
  height: 2px;
  background: rgb(168, 168, 168);
  transition: all .2s linear;
}

.hero-header-nav ul li:hover {
  color: var(--red);
}

.hero-header-nav ul li:hover::after{ 
  transform: scale(1);
  transform-origin: center;
}

@media (max-width: 400px) {
  .header-search .search-bar input::placeholder{
    font-size: .8rem;
  }
}

/* HERO BODY */
.voucher-text button::after {
  position: absolute;
  content: '';
  bottom: -1;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(168, 168, 168);
}

.hero-body-sidebar::after {
  position: absolute;
  content: '';
  bottom: 0;
  top: -25px;
  width: 1px;
  right: 0;
  background: rgb(168, 168, 168)
}

@media (max-width: 640px) {
  .hero-body-sidebar::after {
    display: none;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--red) !important;
  border: 1px solid white;
}

.swiper-pagination-bullet {
  height: 10px !important;
  width: 10px !important;
  background-color: rgb(179, 179, 179)!important;
  opacity: 1 !important;
}

.swiper-pagination-bullet:hover {
  background-color: var(--red) !important;
  transition: all .2s linear;
}

.hero-body a:hover, .hero-body button:hover {
  transition: all .25s linear;
  color: var(--red);
  font-weight: bold;
}

/* TODAYS PRODUCt */
.todays-product .section-title::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 15px;
  background: var(--red);
  border-radius: 3px;
}

.todays-product .flash-sales .fs-countdown :is(.days, .hours, .minutes, .seconds) {
  position: relative;
}

.todays-product .flash-sales .fs-countdown :is(.days, .hours, .minutes, .seconds)::before {
  position: absolute;
  content: '';
  left: 0;
  top: -25px;
  font-size: .65rem;  
}

.todays-product .flash-sales .fs-countdown :is(.hours, .minutes, .seconds)::after {
  position: absolute;
  content: ':';
  left: -15px;
  top: 0;
  color: var(--red);
  font-size: 1rem;
}

.todays-product .flash-sales .fs-countdown .days::before {
  content: 'Days'; 
}

.todays-product .flash-sales .fs-countdown .hours::before {
  content: 'Hours'; 
}

.todays-product .flash-sales .fs-countdown .minutes::before {
  content: 'Minutes'; 
}

.todays-product .flash-sales .fs-countdown .seconds::before {
  content: 'Seconds'; 
}

.sale-products .sale-product .product-img-container button {
  bottom: -40px;
  transition: all .2s linear;
}

.sale-products .sale-product .product-img-container:hover button{
  bottom: 0px;
}

@media (min-widtH: 640px) {
  .todays-product .view-all-btn {
    margin-top: -30px;
  }
}

@media (min-widtH: 768px) {
  .todays-product .view-all-btn {
    margin-top: -10px;
  }
}